<rs-text-annotation-type
  label="Person"
  rdf-type='https://mbdiaries.itatti.harvard.edu/ontology/Person'>

  <template id='annotation'>
    <semantic-query
      query='
        SELECT ?iri ?label WHERE {
          BIND({{iri}} as ?iri)
          ?iri oa:hasBody ?body .
          ?body rdfs:label ?label .
        }'
      template='{{> show}}'>

      <template id='show'>
        {{#> mbdiaries:template}}
          <div class="dpub-annotation-content person">
            <semantic-link iri="{{iri.value}}">
              <strong>{{bindings.0.label.value}}</strong>
            </semantic-link>
          </div>
        {{/ mbdiaries:template}}
      </template>

    </semantic-query>
  </template>

  <semantic-form-composite-input
    for='oaHasBody'
    new-subject-template='body'
    fields='[[fieldDefinitions
      classtype="https://collection.itatti.harvard.edu/fieldDefinitionContainer/type"
      label="https://collection.itatti.harvard.edu/fieldDefinitionContainer/label"
      sameAs="https://collection.itatti.harvard.edu/fieldDefinitionContainer/owl_sameAs"
    ]]'>
    <semantic-form-hidden-input for='classtype' default-value='https://mbdiaries.itatti.harvard.edu/ontology/Person'></semantic-form-hidden-input>

    <semantic-form-text-input for='label' label="Annotation text"></semantic-form-text-input>
    <semantic-form-text-input for='sameAs' label="Wikidata URI"></semantic-form-text-input>


    <semantic-form-errors></semantic-form-errors>
  </semantic-form-composite-input>

</rs-text-annotation-type>