<div class="page">
  <div class='page__body'>
    <semantic-context repository='default'>
      <div>
        <h2>Pages of [[urlParam "diary"]] Diary.</h2>
        <semantic-table
            query='
              SELECT ?day ?day_lbl ?diary ?file ?imageIRI WHERE {
                ?day crm:P2_has_type mbdiaries-ontology:Day;
                    rdfs:label ?day_lbl;
                    mbdiaries-ontology:order ?order;
                    crm:P46i_forms_part_of ?diary;
                    crm:P62i_is_depicted_by ?page.

                ?page crm:P129i_is_subject_of ?file;
                    crm:P183i_has_representation ?imageIRI
              }
              ORDER BY ASC(?order)'
            column-configuration='[
              {
                "displayName": "Page", 
                "cellTemplate": "{{> image}}" 
              },
              {
                "displayName": "Day",
                "cellTemplate": "{{> day}}"
              },
              {"variableName": "diary", "displayName": "Diary"}
            ]'
            no-result-template='No documents uploaded yet.'>

            <template id="image">
              <div style="height: 100px">
                <rs-iiif-image-thumbnail
                  image-or-region='{{imageIRI.value}}'
                  image-id-pattern='BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                  iiif-server-url='https://ids.lib.harvard.edu/ids/iiif/'>
                </rs-iiif-image-thumbnail>
              </div>
            </template>

            <template id="day">
              <div>
                <semantic-link iri="{{file.value}}">
                  {{day_lbl.value}}
                </semantic-link>
              </div>
            </template>

        </semantic-table>
      </div>
    </semantic-context>
  </div>
</div>