<semantic-form [[> rsp:FormDefaults]] 
  persistence='{"type": "sparql", "targetGraphIri": "{{scheme}}"}'
  new-subject-template='{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
  fields='[[
   fieldDefinitions
     classtype="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
     inScheme="http://www.cidoc-crm.org/cidoc-crm/P71i_is_listed_in"
     rdfsLabel="http://www.researchspace.org/pattern/general/rdfs:label"
  ]]'
>
<div class="form-scroll-area">
<semantic-form-hidden-input for="classtype" default-value='http://www.cidoc-crm.org/cidoc-crm/E21_Person'></semantic-form-hidden-input>
<semantic-form-hidden-input for="inScheme" default-value="{{scheme}}"> </semantic-form-hidden-input>  

<semantic-form-composite-input
  for='oaHasBody'
  new-subject-template='body'
  fields
>

</semantic-form-composite-input>

<semantic-form-composite-input>
  <semantic-form-text-input render-header=false for="rdfsLabel"> </semantic-form-text-input>
</semantic-form-composite-input>

<semantic-form-errors></semantic-form-errors>
</div>

[[> rsp:FormDefaultActions]] 
</semantic-form>
