<div class="page">
  <div class='page__body'>
    <semantic-context repository='default'>
      <div>
        <h2>Pages of [[urlParam "diary"]] Diary.</h2>
        <semantic-table
            query='
              SELECT * WHERE {
                ?document a <https://mbdiaries.itatti.harvard.edu/ontology/Document>.
  
                ?page crm:P129i_is_subject_of ?document;
                      crm:P183i_has_representation ?imageIRI
                
                filter(regex(str(?document), "1933"))
              }order by asc(?document)'
            column-configuration='[
              {
                "displayName": "Image", 
                "cellTemplate": "{{> image}}" 
              },
              {
                "displayName": "Page",
                "cellTemplate": "{{> day}}"
              },
              {"variableName": "diary", "displayName": "Diary"}
            ]'
            no-result-template='No documents uploaded yet.'>

            <template id="image">
              <div style="height: 100px">
                <rs-iiif-image-thumbnail
                  image-or-region='{{imageIRI.value}}'
                  image-id-pattern='BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
                  iiif-server-url='https://ids.lib.harvard.edu/ids/iiif/'>
                </rs-iiif-image-thumbnail>
              </div>
            </template>

            <template id="day">
              <div>
                <semantic-link iri="{{document.value}}">
                  {{page.value}}
                </semantic-link>
              </div>
            </template>

        </semantic-table>
      </div>
    </semantic-context>
  </div>
</div>