<style>
  div.TextAnnotationEditor--textEditor {
    padding-top: 20px;
  }
</style>

<div class="container-fluid">

  <div class="row" style="margin-top: 100px">
    <div class="col-md-4">

      <semantic-query
        query='select ?page ?imageIRI where {
          ?page crm:P129i_is_subject_of <[[this]]>;
                crm:P183i_has_representation ?imageIRI
        }'
        template="{{> mirador imageIRI=bindings.0.imageIRI.value}}"
      >
        <template id="mirador">

          <mp-event-target-template-render
            id='mirador-target'
            template='{{> miradorTemplate }}'>

            <template id='miradorTemplate'>
              <div id="imageContainer" style="height: 700px">
            <rs-iiif-mirador
              image-or-region='{{imageIRI}}'
              image-id-pattern='BIND(REPLACE(STR(REPLACE(STR(?imageIRI),"/full/full/0/default.jpg","")), "(^.*)\\/(.*)$", "$2") AS ?imageID)'
              iiif-server-url='https://ids.lib.harvard.edu/ids/iiif/'>
            </rs-iiif-mirador>
          </div>

        </template>
      </semantic-query>

    </div>
    <div class="col-md-8">
      <rs-text-annotation-workspace
        document-iri="[[this]]"
        storage="MB_Diaries-app"
        annotation-subject-template="https://mbdiaries.itatti.harvard.edu/annotation/{{UUID}}"
        fallback-template="{{> fallback-template}}"
        annotation-tooltip="{{> annotation-tooltip}}">
        <template id="fallback-template">
          {{#> mbdiaries:template}} Missing type for annotation
            <semantic-link iri="{{ iri.value }}"></semantic-link>
          {{/ mbdiaries:template}}
        </template>

        [[> mbdiaries:controls]]

        [[> mbdiaries:Person ]]
        [[> mbdiaries:Book ]]
        [[> mbdiaries:Note ]]
      </rs-text-annotation-workspace>
    </div>
  </div>



</div>